body {
  max-width: 120em;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

body > footer {
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
}

#footer-prev {
  padding: 5em;
}

/* header */

body > header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;
}

body > header > a {
  margin-left: auto;
}

body > header * {
  padding: 0 0.2em;
}

/* sliders */

.slide {
  position: relative;
  margin: 0 auto;
}

.slide-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
  align-items: center;
}

/* search page */

#search {
  display: grid;
  grid-template-columns: 20% auto;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 5em;
}

.restaurant-mini {
  display: flex;
}

/* profile page */

#profile {
  display: grid;
  grid-template-columns: auto 70%;
  grid-template-rows: auto 1fr;
  margin: 0 auto;
  width: 70%;
}

#profile > img {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: center;
}

.profile-section {
  grid-column: 2 3;
}

#profile-tabs {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

#logout-button {
  justify-self: flex-end;
}

/* restaurant page */

#restaurant {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 25%;
}

.restaurant-tab {
  grid-column-start: 1;
}

#tabs {
  grid-column-start: 1;
}

#restaurant > header {
  grid-column-start: 1;
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

#form-favorite {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: right;
}

#side-section {
  grid-column-start: 2;
}

.dish {
  display: flex;
  align-items: center;
  gap: 1em;
}

.dish > p {
  margin-left: auto;
}

.review-title {
  display: flex;
  align-items: center;
}

.review-title > h4, .review-title > a {
  margin-left: auto;
}

/* favorites page */

#favorites > header > h1 {
  text-align: center;
}

#favorites-tabs {
  margin: 0 auto;
}

#favorite-restaurants > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* login */

.account {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* pop up messages */

#messages {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 2;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
