:root {
  --primary-color: #303633;
  --secondary-color: #fff;
  --accent-color: #F6BD60;
  --bg-color: #f2f2f2;
  --bg-secondary-color: #fafafa;
  --shadow-color: #ddd;
}

body {
  background-color: var(--bg-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* header */

body>header {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 12px var(--shadow-color);
}

body>header a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0;
}

.material-icons.icon-4x {
  font-size: 2em;
}

/* search box */

#search-box {
  margin: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 2em none var(--secondary-color);
}

input[name=search] {
  padding: 1em;
  font-size: 1.2em;
  border-radius: 2em;
  background-color: var(--bg-secondary-color);
  width: 50%;
  border: none;
  box-shadow: 0px 1px 12px var(--shadow-color);
}

input[name=search]:focus {
  outline: none;
}

#search-box>button {
  border: none;
  background: none;
}

/* sliders */

.slide {
  margin: 0 2em 2em 2em;
}

.slide-content {
  box-shadow: 0px 5px 15px var(--shadow-color);
  border-radius: 0.5em;
  background-color: var(--bg-secondary-color);
}

.restaurant-nano {
  color: white;
  position: relative;
  margin: 0.5em;
}

.nano-text {
  position: absolute;
  bottom: 8px;
  left: 10px;
  text-shadow: 0.3em 0.3em 0.8em black;
}

.nano-text * {
  margin: 0.2em;
}

.restaurant-nano img {
  width: 100%;
}

/* footer */

body>footer {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
}

body>footer p {
  color: var(--secondary-color)
}

/* search page */

#search {
  margin: 1em;
}

#search-filter {
  background-color: var(--bg-secondary-color);
  padding: 1em;
  box-shadow: 0px 5px 15px var(--shadow-color);
  margin-right: 1em;
  border-radius: 0.5em;
}

.restaurants-search {
  background-color: var(--bg-secondary-color);
  padding: 0.5em;
  box-shadow: 0px 2px 15px var(--shadow-color);
  border-radius: 0.5em;
}

.restaurants-search * {
  margin: 0.3em;
}

.restaurants-search img {
  border-radius: 0.3em;
}

/* profile page */

#profile {
  background-color: var(--bg-secondary-color);
  box-shadow: 0px 2px 15px var(--shadow-color);
  border-radius: 0.5em;
  margin: 2em;
}

#profile>img {
  border-radius: 50%;
  margin: 1em;
}

.profile-section {
  margin: 1em;
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#profile-info {
  display: block;
}

#profile-reviews {
  display: none;
}

#profile-orders {
  display: none;
}

.profile-section-button {
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 1.4em;
  padding: 0.5em;
  padding-left: 1em;
  color: #555;
  vertical-align: middle;
}
.profile-section-button:hover {
  color: var(--accent-color);
  background-color: transparent;
}

.profile-section-button.active {
  color: var(--accent-color);
  background-color: #f2f2f2;
}

#logout-button {
  justify-self: flex-end;
}

/* restaurant page */

#restaurant {
  background-color: var(--bg-secondary-color);
  box-shadow: 0px 2px 15px var(--shadow-color);
  border-radius: 0.5em;
  margin: 2em;
}

.restaurant-tab {
  display: none;
}

#restaurant-menu {
  display: block;
}
