:root {
    --primary-color: #303633;
    --secondary-color: #DEE2E6;
    --accent-color: #1B998B;
    --bg-color: #fcfcfc;
    --bg-secondary-color: #fff;
}

body {
  background-color: var(--bg-color);
}

/* header */

body > header {
  background-color: var(--bg-secondary-color);
  box-shadow: 0px 1px 12px var(--secondary-color);
}

body > header a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0;
}

.material-icons.icon-4x {
  font-size: 2em;
}

/* search box */

#search-box {
  margin: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 2em none var(--secondary-color);
}

input[name=search] {
  padding: 1em;
  font-size: 1.2em;
  border-radius: 2em;
  background-color: var(--bg-secondary-color);
  width: 50%;
  border: none;
  box-shadow: 0px 1px 12px var(--secondary-color);
}

input[name=search]:focus {
  outline: none;
}

#search-box > button {
  border: none;
  background: none;
}

/* sliders */

.slide {
  margin: 0 2em 2em 2em;
}

.slide-content {
  box-shadow: 0px 5px 15px var(--secondary-color);
  border-radius: 0.5em;
  background-color: var(--bg-secondary-color);
}

.restaurant-nano {
  color: white;
  position: relative;
  margin: 0.5em;
}

.nano-text {
  position:absolute;
  bottom: 8px;
  left: 10px;
  text-shadow: 0.3em 0.3em 0.8em black;
}

.nano-text * {
  margin: 0.2em;
}

.restaurant-nano img {
  width: 100%;
}

/* footer */

body > footer {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
}

body > footer p {
  color: var(--secondary-color)
}
